<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
	<serverUrls>
		<serverUrl url="https://utility.arcgis.com"
				   portalUrl="https://local-maps.maps.arcgis.com"
				   username="********"
				   password="********"
				   matchAll="true"/>
	</serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
